.node {
  display: flex;
  gap: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  min-width: 60px;
  max-width: 200px;
  background-color: #DCDCE6;
  color: #202124;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  svg {
    width: 24px;
    height: 24px;
  }
  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  &.selected {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
  }
}

.label {
  font-size: 12px;
  font-weight: 800;
  color: #202124;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 8px);
  line-height: 1.25;
  padding: 0 4px;
}
